 html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.display {
  color: white;
  background-color: #2ecc71;
  width: 20px;
  height: 20px;
}
